/* CONFIGURACIÓN GENERAL */
body {
    background-color: #0f172a;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
    color: #e5e7eb;
}

/* CONTENEDOR */
.contenedor {
    width: 90%;
    margin: auto;
    background-color: #020617;
    border-collapse: collapse;
}

/* ENCABEZADO */
.header {
    background: linear-gradient(90deg, #7c3aed, #2563eb);
    color: white;
    text-align: center;
    padding: 30px;
}

.header h1 {
    font-size: 32px;
}

.header p {
    font-size: 18px;
}

/* MENÚ */
.menu {
    width: 20%;
    background-color: #020617;
    vertical-align: top;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li a {
    display: block;
    padding: 12px;
    color: #a5b4fc;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    background-color: #7c3aed;
    color: white;
}

/* SECCIONES */
.seccion {
    padding: 20px;
}

.box {
    background-color: #020617;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(124, 58, 237, 0.4);
}

.box h2 {
    font-size: 26px;
    color: #38bdf8;
}

.box p {
    font-size: 17px;
    line-height: 1.6;
}

.box img {
    width: 90px;
    margin: 15px 0;
}

/* PIE DE PÁGINA */
.footer {
    background-color: #7c3aed;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: white;
}
